ul.menu_top{
	background:url(../images/menu.jpg) no-repeat;
	height:41px;
	padding-left:19px;
	width:981px;
	overflow:hidden;
	margin-bottom:23px;
}
ul.menu_top li{
	list-style:none;
	float:left;
}
ul.menu_top li a{
	float:left;
	height:41px;
	line-height:42px;
	padding-left:4px;
	text-transform:uppercase;
	font-weight:bold;
	color:#8d0404;
	background:url(../images/menu_left.jpg) no-repeat left center;
}
ul.menu_top li a span{
	float:left;
	height:41px;
	line-height:45px;
	padding:0px 30px 0px 22px;
	
	background:url(../images/menu_right.jpg) no-repeat right center;
}
ul.menu_top li a:hover,ul.menu_top li a.active{
	background:url(../images/menu_left_hover.jpg) no-repeat left center;
}
ul.menu_top li a:hover span,ul.menu_top li a.active span{
	background:url(../images/menu_right_hover.jpg) no-repeat right center;
}
ul.menu_top li.li_last a span{
	background:none;
}
ul.menu_top li.li_last a:hover span,ul.menu_top li.li_last a.active span{
	background:url(../images/menu_hover_last.jpg) repeat-x right center;
}