.agreement-left{
	float:left;
	width: 678px;
}
.agreement .item{
	margin-bottom: 10px;
	padding: 10px 20px;
}
.agreement .item p{
	margin-bottom: 20px;
	text-align: justify;
	font-siz: 12px;
	color: #171717;
}
.agreement .item h3{
	color: #0ba5c3;
	font-size: 20px;
	margin-bottom: 15px;
}
.agreement .itemodd{
	background-color: #eef6f8;
}
.agreement .itemeven{
	background-color: #fafafa;
}
.agreement-full .item{
	background-color: #eef6f8;
}

.agreement-right{
	width: 300px;
	float:right; 
}
.portlet{
	padding: 0px 0xpx 20px 0px;
	margin-bottom: 15px;
	border: solid 1px #048daf;
}
.ptitle{
	background: url("../images/ne_portlet_title.jpg") repeat scroll right top transparent;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	height: 34px;
	line-height: 34px;
	width: 100%;
	display: block;
	text-indent: 20px;
}
.pdetail{
	padding: 10px 0px 20px;
}
.pitem{
	border-bottom: 2px dotted #929A9C;
    margin: 0 20px 10px;
    padding-bottom: 10px;
}

.itime{
	background: url("../images/ne_portlet_clock.png") no-repeat scroll 0px 4px transparent;
	display: block;
	text-indent: 10px;
	color: #6e6e6e;
	font-size: 12px;
	margin-bottom: 5px;
}
.ititle{
	font-weight: bold;
	color: #2f2f2f;
	font-size: 12px;
}
.more{
	color: #FF8400;
	display: block;
    font-weight: bold;
    margin: 0 20px;
    text-align: right;
    width: 260p
}