.article-left{
	float:left;
	width: 678px;
}
.article .item{
	margin-bottom: 10px;
	padding: 10px 20px;
}
.article .content{
	text-align: justify;
	font-siz: 12px;
	color: #171717;
	font-size: 12px;
}
.article .item h3{
	color: #0ba5c3;
	font-size: 20px;
	margin-bottom: 15px;
}
.article .itemodd{
	background-color: #eef6f8;
}
.article .itemeven{
	background-color: #fafafa;
}
.article-full .item{
	background-color: #eef6f8;
}
.atitle{
	color: #0ba5c3;
}
.amore{
	color: #FF8400;
}
.ltitle{
    color: #0BA5C3;
    display: block;
    font-size: 12px;
    margin: 2px 0;
}
#detail{
	background: #EEF6F8;
	padding: 0 0 50px;
}
#detail .item{
	margin-bottom: 0px;
	padding: 10px 20px 5px;
}
#detail .time{
	color: #777;
}
#detail p{
	margin: 5px 0px;
}
.other{
	font-weight: bold;
	font-size: 15px;
}