#contact{
	margin-bottom: 20px;
}
#left-contact{
	width: 530px;
	padding:20px;
	background-color: #eef6f8;
}
#contact-form{
	float:right;
	width:400px;
	border: solid 1px #c3c3c3;
	padding-bottom: 10px;
}

.cfheader{
	color: #FFFFFF;
	height: 35px;
	margin: 0 1px 15px;
	line-height: 35px;
	background: url(../images/blue-background.jpg) repeat;;
}


.type .item{
	height: 26px;
	line-height: 26px;
	margin-right: 1px;
	font-weight: bold;
	cursor: pointer;
	float:left;
	text-align: center;
	height: 36px;
	color: #FFF;
	padding: 5px 10px;
}
.type .active{
	background: #FFF;
	color: #000;
}
.recapchar{
	float:left;
}
#recaptcha_area{
	margin: 10px 0px 10px -3px;	
}

#contact-form form label{
	float:left;
	width:70px;
	margin-right:10px;
	color:#003ea6;
	padding-top:3px;
	text-align:right;
	font-weight: bold;
}
#contact-form form label.error{
	height:22px;
	width:292px;
	padding-top:3px;
	text-align:left;
	margin-left:80px;
	color: red;
}
#contact-form form label.checked{
	display:none !important;
}

#contact-form form input{
	border:1px solid #dbe0e1;
	width:300px;
	float:left;
	height:22px;
	margin-bottom:10px;
}
#contact-form form textarea{
	border:1px solid #dbe0e1;
	width:300px;
	float:left;
	height:100px;
}
#contact-form form input.button{
	background:url(../images/contact-button.png) no-repeat;
	color:#fff;
	font-weight:bold;
	border:none;
	width:57px;
	margin:0px 0 10px 80px;
	height: 25px;
	line-height: 25px;
}

.term{
	color: #ed5900;
	margin-left: 10px;
	float:left;
	width: 240px;
	fnt
}

#left-contact{
	width: 520px;
	float:left;      
}

#left-contact h3{
	font-weight: bold;
	font-size: 20px;
	color: #0ba5c3;
}
#left-contact .contact{
	 width:490px;
	 overflow:hidden;
	 text-align:left;
	 padding-left: 30px;
	 padding-bottom:20px;
	 margin: 15px 20px 0px 0px;
	 border-bottom: solid 1px #c8ced0;
}

#left-contact .title{
	color: #1a1a1a;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

#left-contact #info{
	background: url("../images/contact-info.jpg") no-repeat scroll 0 0 transparent;
}
#left-contact #support{
	background: url("../images/contact-support.jpg") no-repeat scroll 0 0 transparent;
}
#left-contact #partnership{
	background: url("../images/contact-partnership.jpg") no-repeat scroll 0 0 transparent;
}
#left-contact #report{
	background: url("../images/contact-report.jpg") no-repeat scroll 0 0 transparent;
}
#left-contact #mailaddress{
	background: url("../images/contact-mailaddress.png") no-repeat scroll 0 0 transparent;
}
.cslogan{
	font-size: 18px;
	color: #ed5900;
	padding: 20px 0px 0px;
	float:right;
}