.ddsmoothmenu{
background:url(../images/campus_message_menu.jpg) no-repeat;
height:31px;
width: 584px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
background: #EDEDED;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
background:url(../images/campus_message_menu_line.jpg) no-repeat 0px 0px;
height:31px;
}
.ddsmoothmenu ul li.ddsmoothmenu_first{
	background:none;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
height:31px;
line-height:31px;
color: #000000;
font-size:12px;
padding:0px 17px 0px 20px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}
.ddsmoothmenu ul li.ddsmoothmenu_first a{
	padding-left:35px;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: black; 
color: white;
}

.ddsmoothmenu ul li a:hover{
background: black; /*background of menu items during onmouseover (hover state)*/
color: white;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
border:1px solid #d0d0d0;
width:160px;
overflow:hidden;
}
.ddsmoothmenu ul ul li.ddsmoothmenu_first1 a,.ddsmoothmenu ul ul li a{
	padding-left:10px;
	height:22px;
	line-height:22px;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
background:none;
height:22px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 160px; /*width of sub menus*/
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 13px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;

}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}