@font-face {
    font-family: 'MyriadProCondRegular';
    src: url('../javascripts/myriadpro-cond.eot');
    src: url('../javascripts/myriadpro-cond.eot?#iefix') format('embedded-opentype'),
         url('../javascripts/myriadpro-cond.woff') format('woff'),
         url('../javascripts/myriadpro-cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'MyriadProCondBold';
    src: url('../javascripts/myriadpro-boldcond.eot');
    src: url('../javascripts/myriadpro-boldcond.eot?#iefix') format('embedded-opentype'),
         url('../javascripts/myriadpro-boldcond.woff') format('woff'),
         url('../javascripts/myriadpro-boldcond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
	padding:0px;
	margin:0px;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0e0d0c;
	line-height:18px;
	text-align:justify;
	background:#fff url(../images/bg.jpg) repeat-x top center;	
	position:relative;
}
#wrapper{
	width:961px;
	margin:auto;
	overflow:hidden;
}
.clear{
	clear:both;
}
.clear_left{
	clear:left;
	height:0px;
}
.clear_right{
	clear:right;
}
.fload_left{
float:left;
}
.fload_right{
float:right;
}
h1, h2, h3, h4, h5, h6{
	font-size:12px; 
}
img, p, ul{
	border:0px;
}
a{
	text-decoration:none;
	outline: none;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
}
/*---------- Một số chuẩn khi cắt css và tránh lỗi IE6-------------
- Khi thêm thuộc tính margin cho thẻ phải thêm thuộc tính display:inline (trừ những thẻ không có chiều cao, rộng cố định thì không cần thiết)
- Khi thêm padding chiều nào của một thẻ phải giảm độ rộng, cao tương ứng nếu thẻ có chiều rộng hoặc cao cố định.
- Tất cả các link phải có hover
- Những button như Hủy,Gửi đặt trong thẻ input phải có thuộc tính cursor:pointer . 
- Những Title chỉ có một dòng thì tránh dùng padding-left khi muốn cách đầu dòng_ nên dùng text-indent:px và nên sét chiều rộng và thuộc tính overflow:hidden.
- Nếu thẻ <img/> đặt trong một thẻ khác mà hình ảnh quá nhỏ thì phải có thuộc tính font-size:1px trong thẻ chứa <img/>

* ---------------------------Qui tắc đặt tên--------------*/
.page{
	text-align:right;
	padding:7px 10px 7px 0px;
	background: #ECEBEB;
	margin-bottom: 10px;
}
.page a{
color:#000;
padding:1px 8px 1px 4px;
background:url(../images/page_line.jpg) no-repeat right center;
}
.page a:hover,.page a.active{
	color:#ff3028;
	font-weight:bold;
}
.page img{
	vertical-align:middle;
	vertical-align:top\0;
	padding-top:5px\0;
}

