#header{
	height:86px;
	width:100%;
	background:url(../images/header_bg.jpg) no-repeat center top;
	position:relative;
}
.logo{
	position:absolute;
	left:0px;
	top:0px;
	width:181px;
	height:86px;
	display:block;
	z-index:0;
}
.slogan{
	position:absolute;
	left:300px;
	top:32px;
	color:#ff3028;
	font-size: 24px;
}
.support{
	position:absolute;
	right:0px;
	top:15px;
}
.support p{
	float:left;
	color:#6e6d6d;
	float:left;
	height:19px;
	line-height:19px;
	font-size:11px;
}
.support a{
	float:left;
	margin-left:5px;
}
.search_top{
	height:23px;
	overflow:hidden;
	bottom:10px;
	position:absolute;
	right:0px;
}
.search_top input{
	height:16px;
	padding:3px 10px 3px 24px;
	border:none;
	float:left;
	width:150px;
	color:#a7a7a7;
	font-size:11px;
	background:none;
	background:url(../images/search_bg.jpg) no-repeat left top ;
	margin-left:6px;
}
.search_top input.search_btn{
	color:#fff;
	background:url(../images/search_btn.jpg) no-repeat;
	width:48px;
	padding:0px;
	height:19px;
	cursor:pointer;
	padding-bottom: 2px;
}
.giohang{
	background:url(../images/icon_cart.jpg) no-repeat left top;
	padding-left:25px;
	color:#6e6d6d;
	float:left;
	padding-top:3px;
	position:absolute;
	right:254px;
	bottom:11px;
}
.giohang span{
	color: #ff0000;
} 
#banner_top{
	display:block;
	width:961px;
	height:147px;
	overflow:hidden;
	margin:25px 0px 30px 0px;
}
.slide_partner{
	width: 220px;
}
.slide_partner a{
	width: 220px;
	border-bottom: 1px solid #e3e1e1;
	padding:5px 0;
	display: block;
}
.menu_footer{
	background:url(../images/bg_footer.jpg) repeat-x top left;
	padding:5px 0px;
}
.menu_footer li{
	float:left;
	list-style:none;
	padding-right:15px;
	margin-right:15px;
	background:url(../images/menu_line.jpg) no-repeat center right;
}
.menu_footer li a{
	float:left;
	color:#727272;
	font-weight:bold;
}
.menu_footer li a:hover,.menu_footer li a.active{
	color:#000;
}
#footer{
	background:url(../images/title_bg.jpg) repeat-x top left;
	padding-top:21px;
	width:100%;
	position:relative;
	height:60px;
	margin-bottom: 12px;
}
.footer_left{
	padding-top: 7px;
	color:#626262;
}
.link_face{
	position:absolute;
	right:47px;
	/*bottom:24px;*/
	top:32px;
}
.link_twit{
	position:absolute;
	right:1px;
	/*bottom:24px;*/
	top:32px;
}
.vietsol{
	position:absolute;
	bottom:0px;
	right:0;
	color:#999;
}
.footer_left a{
	color:#0e0d0c;
}