.home_logo{
	position:absolute;
	z-index:10;
	text-align:center;
	top:0px;
	display:block;
	background:url(../images/logo.png) no-repeat;
	width:265px;
	height:139px;
	padding-right:18px;
}
#slide_home{
/*	text-align:center;*/
	width:100%;
	position:absolute !important;
	top:4px;
	left:0px;
	z-index:0;
	height:613px;
}
#slide_home li{
	list-style:none;
}
#content_home{
	height:671px;
	position:relative;
	width:100%;
}
#footer_home{
	position:absolute;
	width:100%;
	bottom:0px;
	z-index:15;
	height:85px;
	background:url(../images/footer_home.png) repeat-x bottom;
	padding-top:58px;
}
.tienich{
	width:922px;
	margin:auto;
}
.tienich a{
	float:right;
}
a.twis{
	margin-left:6px;
}
.support_onl{
	float:right;
	margin-right:8px;
}
.support_onl a{
	margin-left:6px;
}
a.feedback{
	background:url(../images/icon1.png) no-repeat right top;
	padding-right:26px;
	color:#4b4b4b;
	font-weight:bold;
	font-size:13px;
	line-height:25px;
	margin-right:5px;
}
.footer_home_center,.footer_page{
	background:url(../images/footer_center.jpg) no-repeat;
	width:880px;
	margin:auto;
	padding:0px 26px 0px 27px;
	margin-top:5px;
}
.footer_page{
	background:url(../images/footer_page.png) no-repeat;	
}
.banquyen{
	float:left;
	color:#820a0e;
	text-shadow:1px 1px #fff;
	line-height:40px;
}
p.vietsol{
	float:left;
	margin:0px 18px;
	line-height:40px;
}
.weblink{
	float:left;
	margin:9px 10px 0px 0px;
}
.weblink select{
	border:1px solid #7b7b7b;
	color:#7b7b7b;
	width:100px;
}
.truycap{
	float:right;
	line-height:40px;
}
.menu_home{
	width:996px;
	margin:auto;
	position:relative;
	height:611px;
}
.menu_home ul{
	background:url(../images/menu_home.png) no-repeat;
	position:absolute;
	bottom:-30px;
	left:-38px;
	padding:98px 75px 62px 58px;
	height:303px;
	width:200px;
	z-index:20;
}
.menu_home ul li{
	background:url(../images/menu_home_li.png) no-repeat bottom left;
	padding-left:0px;
	padding-bottom:5px;
	list-style:none;
	margin-bottom:13px;
}
.menu_home ul li a{
	text-transform:uppercase;
	text-shadow:1px 1px #fff;
	color:#8d0404;
	line-height:normal;
	font-weight:bold;
	font-size:13px;
	background:url(../images/icon_menu.png) no-repeat 0px 5px;
	padding-left:14px;
}
.menu_home ul li a:hover{
	text-decoration:none;
	background:url(../images/icon_menu_hover.png) no-repeat 0px 5px;
	color:#520606;
}
.logo{
	margin:auto;
	width:250px;
	height:155px;
	display:block;
	background:url(../images/logo.png) no-repeat;
	padding-left:33px;
}
#slide_banner{
	background:#fff;
	padding:1px;
	border:5px solid #e6e6e6;
	width:986px;
	height:260px;
	overflow:hidden;
	margin-bottom:29px;
}
/*==========================================
					SITEBAR
=======================================*/
#sitebar{
	float:left;
	width:244px;
	margin-bottom:35px;
}
.sitebar_item{
	background:#e6e6e6;
	width:236px;
	padding:4px;
	position:relative;
	margin-bottom:23px;
}
h3.sitebar_title{
	background:url(../images/sitebar_title.png) no-repeat;
	color:#fff;
	text-transform:uppercase;
	width:121px;
	height:28px;
	line-height:28px;
	text-indent:7px;
	position:absolute;
	top:0px;
	left:4px;
	display:block;
	font-size:11px;
}
.danhmuc{
	border:2px solid #fff;
	padding:30px 10px 10px 12px;
	width:210px;
}
.danhmuc li{
	list-style:none;
	padding:6px 0px;
}
.danhmuc li a{
	color:#8d0404;
	font-weight:bold;
	background:url(../images/icon_menu.png) no-repeat 0px 3px;
	padding-left:14px;
	text-transform:uppercase;
}
.danhmuc li a:hover,.danhmuc li a.active{
	text-decoration:none;
	background:url(../images/icon_menu_hover.png) no-repeat 0px 3px;
	color:#520606;
}
form.dattiec{
	border:2px solid #fff;
	padding:39px 6px 10px 7px;
	width:219px;
	font-size:11px;
}
form.dattiec label{
	float:left;
	font-weight:bold;
	width:58px;
	margin-bottom:7px;
	height:25px;
	line-height:25px;
	font-size:11px;
}
form.dattiec select,form.dattiec input,form.dattiec textarea{
	float:left;
	border:1px solid #d3d2d2;
	color:#7e7d7d;
	font-size:11px;
	margin-bottom:7px;
}
form.dattiec select{
	width:158px;
	padding:4px;
	height:25px;
}
form.dattiec input{
	width:144px;
	height:17px;
	padding:4px 4px 4px 10px;
	color:#7e7d7d;
}
form.dattiec textarea{
	width:158px;
}
form.dattiec input.submit_btn{
	color:#fff;
	background:url(../images/submit_btn.jpg) no-repeat;
	width:52px;
	height:24px;
	padding:0px;
	border:none;
	float:right;
}
form.dattiec p{
	float:left;
}
.danhmuc ul{
	margin-left:15px;
}
.danhmuc ul li{
	padding-bottom:0px;
}
.danhmuc ul li a{
	text-transform:none;
}