.ui-dialog { position: absolute !important;}
.tabs-nav{
	background: none !important;
	height: 45px;
	margin-bottom: 10px;
}
.tabs-nav li{
	margin-right: 0px !important;
}
a.bookdetail_btn span {
    background: url("../images/btn1_right.jpg") no-repeat scroll right center transparent !important;
    color: #4D4D4D;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px 0 12px;
}
a.bookdetail_btn{
	background: url("../images/btn1_left.jpg") no-repeat scroll left center transparent !important;
}


#detail p span{
	font-weight: bold;
}