.menu_top_bg{
	width:100%;
	height:43px;
	
}
ul.menu_top{
	height:43px;
	width:961px;
}
ul.menu_top li{
	display:inline;
	float:left;
	height:43px;
	position:relative;
	z-index:999;
	background:url(../images/menu_line.jpg) no-repeat left top;
	padding-left:4px;
}

ul.menu_top a{
	float:left;
	color:#999;
	height:43px;
	line-height:43px;
	padding:0px 33px;
	text-transform:uppercase;
	font-family: 'MyriadProCondRegular';
	font-size:18px;
}
ul.menu_top a:hover,ul.menu_top a.active,ul.menu_top a.active1{
	color:#181818;
}
ul.menu_top ul{
	position:absolute;
	left:0%;
	top:38px;
	background:url(../images/menu_active_02.png) no-repeat top center;
	width:152px;
	padding-top:4px;
	border-bottom:4px solid #e77715;
	display:none;
}
ul.menu_top ul li{
	background:url(../images/menu_sub_bg.png) repeat;
	height:auto;
	padding:8px 0px;
}
ul.menu_top ul li a{
	text-transform:none;
	font-weight:bold;
	font-size:12px;
	height:auto;
	line-height:normal;
	padding:0px 19px 0px 14px;
	width:119px;
	text-align:left;
}
ul.menu_top ul li a:hover,ul.menu_top ul li a.active,ul.menu_top ul li a.active1{
	color:#e77715;
	background:url(../images/menu_sub_active1.png) no-repeat right center;
}
ul.menu_top ul ul{
	left:152px;
	top:0;
	background:url(../images/menu_active_02.png) no-repeat top center;
	padding-top:4px;
}
.news_icon{
	position: absolute;
	right:0;
	top:0;
}