#profile_left{
	float:left;
	width:687px;
}
.profile_left_top{
	background:#e5f6f9;
	width:648px;
	padding:19px;
	margin-bottom:20px;
}
.profile_avatar{
	float:left;
	width:85px;
	height:77px;
	background:#fff;
	border:1px solid #becace;
	padding:3px;
	margin-right:10px;
	margin-bottom:7px;
}
.profile_avatar img{
	width:85px;
	height:77px;
}
p.profile_nick span{
	color:#0082e6;
	font-weight:bold;
	font-size:16px;
	margin-right:5px;
}
.profile_left_top textarea{
	background:url(../images/status_update.jpg) no-repeat;
	width:640px;
	padding:15px 4px 5px 4px ;
	border:none;
	height:31px;
	margin-bottom:15px;
}
.profile_left_top input{
	float:right;
	background:url(../images/status_btn.jpg) no-repeat;
	border:none;
	color:#fff;
	width:54px;
	height:22px;
}
.clock_sub{
	float:right;
	width:33px;
	background:url(../images/clock_sub.png) no-repeat;
	height:22px;
	text-indent:10000px;
	border: solid 1px #e5f6f9;
	padding-bottom: 1px;
}

#status_privacy_container{
	display:none;
	position:absolute; 
	width: 75px; 
	top: 23px; 
	left: -42px; 
	border: #666 1px solid;
}

#status_privacy_container span{
	cursor: pointer;
	margin-left: 10px;
}

#shareprivacy{
	position: relative; 
	float:right;
	margin-right: 10px;
}


.clock_sub.active1{
	border:1px solid #666;
	border-bottom:none;
	padding-bottom:1px;
}

.update_item{
	border-bottom:1px solid #e9e9e9;
	width:653px;
	padding:12px 15px;
}
.update_avatar{
	float:left;
	width:50px;
	height:50px;
}
.update_avatar img{
	width:50px;
	height:50px;	
}
.update_comment{
	float:right;
	width:593px;
}
.update_comment p a{
	color:#0045e1;
}
.tab_comment_item,.tab_comment_form{
	background:url(../images/update_comment_bg.png) no-repeat top left;
	padding-top:6px;
	width:594px;
}
.tab_comment_item_center,.tab_comment_item_center_sub{
	background:#eceff5;
	padding:6px 70px 6px 6px;
	position:relative;
	width:520px;
	border-bottom:1px solid #fff;
}
.avatar_comment{
	float:left;
	width:28px;
	height:28px;
}
.avatar_comment img{
	width:28px;
	height:28px;
}
.status_info{
	width: 520px;
	padding: 0px 75px 0px 0px;
	position: relative;
}

.comment_info{
	float:right;
	width:485px;
}

a.nick_comment{
	font-weight:bold;
	color:#0045e1;
	float:left;
	margin-right:5px;
}
p.tab_comment_date{
	color:#928d8d;
	margin-top:3px;
}
.status_info .comment_opt,
.tab_comment_item_center .comment_opt,
.tab_comment_item_center_sub .comment_opt{
	position:absolute;
	right:15px;
	top:5px;
}
.comment_opt span.delcomment,
.comment_opt span.editcomment{
	cursor: pointer;
	margin-left: 5px;
}
span.tab_comment_del{
	margin-left: 5px;
}
.tab_comment_form form,.tab_comment_form_sub form{
	width:583px;
	background:#eceff5;
	border-bottom:1px solid #fff;
	padding:5px;
}
.tab_comment_form form input,.tab_comment_form_sub form input{
	width:581px;
	border:1px solid #dbdbdb;
	height:26px;
	line-height:26px;
	background:#fff;
	text-indent:8px;
	color:#707070;
}
.tab_comment_form form input.tab_comment_submit,.tab_comment_form_sub form input.tab_comment_submit{
	float:right;
	width:67px;
	border:none;
	color:#fff;
	height:20px;
	text-indent:0px;
	background:#0493bc;
	font-size:11px;
	padding-bottom:2px;
	margin-top:5px;
	text-align: center;
	cursor: pointer;
}

.tab_comment_form form a,.tab_comment_form_sub form a{
	float:left;
	color:#0045e1;
	padding-top:10px;
	text-indent:10px;
}
.tab_comment_item_sub,.tab_comment_form_sub{
	width:554px;
	margin-left:40px;
	background:url(../images/update_comment_bg1.jpg) no-repeat top left;
	padding-top:6px;
}
.tab_comment_form_sub{
	margin-left: 0px !important;
}
.tab_comment_form_sub_nobackground{
	background: none;
	padding-top:0px;
}
.tab_comment_item_center_sub{
	background:#f4f4f4;
	width:480px;
}
.comment_info_sub{
	float:right;
	width:445px;
}
.tab_comment_form_sub form{
	width:544px;
	background:#f4f4f4;
}
.tab_comment_form_sub form input{
	width:541px;
}
/*==================================================== PROFILE RIGHT ===================================*/
#profile_right{
	float:right;
	width:300px;
}
.profile_right_friends{
	border:1px solid #048daf;
	width:298px;
	background:#fff;
	margin-bottom:12px;
	padding-bottom:12px;
}
.profile_right_friends p{
	float:left;
	width:130px;
	padding-top:15px;
	padding-left:18px;
}
.profile_right_friends_title{
	background:url(../images/profile_right_tab.jpg) repeat-x;
	height:34px;
	position:relative;
}
.profile_right_friends_title p{
	left:19px;
	padding:0px;
	width:auto;
}
.profile_right_friends a{
	float:left;
	width:50px;
	padding:12px 12px 0px 12px;
	text-align:center;
	color:#008db5;
	height:67px;
}
.profile_right_friends_title p,.profile_right_friends_title a,.profile_right_friends_title img{
	color:#fff;
	position:absolute;
	line-height:34px;
	top:0px;
}

.profile_right_friends_title a{
	right:14px;
	background:url(../images/See_all_icon.jpg) no-repeat right center;
	padding:0px 8px 0px 0px;
	font-weight:bold;
	width:auto;
	height:auto;
}
.profile_right_friends a span{
	text-align:center;
}
.profile_right_friends a img{
	width:50px;
	height:50px;
	margin-bottom:3px;
}
.profile_right_friends_title img{
	right:14px;
	top:7px;
}
/*======================================== FRIEND TAB ===================================*/
.friendoption{
	float:right;
}
#tabfriends .search_friend{
	width: 670px;
}
#tabfriends .search_friend_tt{
	width: 520px;
}
#tabfriends .search_friend_tt input{
	width: 410px;	
}
/*======================================== INFO TAB ===================================*/
#tabinfo{
	background: #FFFEFE;
	padding-top: 10px;
}
#tabinfo .groupcontainer{
	background: url("../images/profile_info_background.png") no-repeat scroll 0 0 transparent;
	margin-left: 20px;
	padding-right: 50px;
	font-size: 13px; 
}

#tabinfo .info{
	border-bottom: solid #CCC 1px;
	width: 600px;
	margin: 0px 0px 10px 30px;
	padding: 0px 0px 10px 0px;
}

.info h3{
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}
.info label{
	float:left;
	font-weight: bold;
	padding: 3px 0px;
	width: 50px;
}
.info #rslabel{
	width: 125px
}
.info #relationship,
.info #birthday{
	float:left;
	cursor:pointer;
}
.info #relationshipdetail{
	width: 300px;
}
.info #llabel{
	width: 75px;
}
.info #snlabel{
	width: 100px;
}
.info #bdlabel{
	width: 60px;
}
.info div.ginfo div.detail{
	float:left;
	margin-left: 5px;
	padding: 3px;
	width: 525px;
}
.info div.ginfo div.grow{
	margin: 3px 0px;
}

.econ, .wcon{
	padding: 10px 3px 10px 10px;
	width: 520px;
	margin: 3px 3px 20px 3px;
	background: #EEEEFF;
}
.winfodiv, .einfodiv{
	width: 480px;
	cursor: pointer;
}

.einfodiv .etitle,
.winfodiv .wtitle,
.winfodiv .wmore{
	 display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.pctitle{
	float:left;
	font-weight: bold;
	margin-right: 10px;
}
.listcontainer{
	float:left;
	width: 425px
}
.plist{
	width: 420px;
}
.pinfo{
	width: 340px;
	padding-right: 10px;
	float:left;
}
.pinfo .ptitle{
	font-weight: bold;
}
.pdetail{
	color: #333333;
	font-style: italic;
}
.plist .option{
	font-weight: bold;
	cursor: pointer;
	float:left; 
}
.poption {
    float: right;
}

.poption span{
	font-weight: bold;
	margin: 0 3px;
	cursor: pointer;
}
.pcontainer{
	margin-top: 10px;
}
.workproject, .eduproject{
	background: none repeat scroll 0 0 #E2E8F6;
    border: 1px solid #BDC7D8;
    margin: 2px 0;
    padding: 5px;
}

.addmain .projectForm{
	width: 425px;
	margin-left: 60px;
	padding: 10px 6px 0px 0px;
}
.projectForm  .formdiv{
	width: 350px;
}
.projectForm label{
	width: 60px;
	float:left;
	height: 20px;
	font-weight: bold;
	line-height: 20px;
}
.projectForm input.input{
	height: 20px;
	line-height: 20px;
}
.projectForm .epto{
	margin-left: 60px;	
}

.projectForm input,
.projectForm textarea{
	width: 275px;
	padding: 3px;
	margin-bottom: 10px;
}
.projectForm select.campus{
	width: 275px;
	margin-bottom: 10px;
}
.projectForm input.epcurrent{
	width: 20px;
	margin-right: 5px;
}
.projectForm div#eptopresent,
.projectForm div#epto{
	width: 200px;
	display: inline;
}
.projectForm span{
	font-weight: bold;
}
.projectForm select{
	line-height: 25px;
	height: 20px;
	line-height: 20px;
}
.projectForm .epoption {
    margin-top: 10px;
}
.projectForm a.ainput{
    background: url("../images/btn1_left.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 25px;
    margin-right: 5px;
    padding-left: 2px;
}
.projectForm a.ainput span{
    background: url("../images/btn1_right.jpg") no-repeat scroll right center transparent;
    color: #4D4D4D;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px 0 10px;
}
.texteditable,
.inputeditable{
	cursor: pointer;
}
.grow div.inputeditable{
	float:left;
	width: 400px;
}
.inputeditable #editFrom{
	width: 300px;
	padding: 0px 5px;
}
.inputeditable #editFrom input{
	padding-left: 5px;
	width: 295px;
	height: 25px;
}
#relationship #editFrom{
	width: 200px;
	padding-top: 0px;
}
#birthday #editFrom{
	width: 300px;
	padding-top: 0px;
}
#birthday #editFrom .option{
	width: 165px;
}
#birthday #editFrom select{
	width: 50px;
	height: 25px;
	padding-top: 3px;
	margin: 0px 5px 10px 0px;
}
#relationship #editFrom select{
	width: 195px;
	height: 25px;
	padding-top: 3px;
	margin-bottom: 10px;
}
#editFrom{
	width: 500px;
	padding: 10px;
}
#editFrom textarea{
	height: 100px;
	width: 485px;
	margin-bottom: 10px;
	padding: 5px;
}
#editFrom input{
	margin-bottom: 5px;
}
#tabinfo div.ainput{
    background: url("../images/btn1_left.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 25px;
    margin-left: 5px;
    padding-left: 2px;
}
#tabinfo div.ainput span{
    background: url("../images/btn1_right.jpg") no-repeat scroll right center transparent;
    color: #4D4D4D;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px 0 10px;
    cursor: pointer;
}
.addmain{
	margin: 3px 3px 0px;
    padding: 0px 0px 10px 10px;
    width: 520px;
}
div#sn{
	width: 255px;
}
#sn div.sndiv{
	background: none repeat scroll 0 0 #E2E8F6;
    border: 1px solid #BDC7D8;
    line-height: 25px;
    margin: 2px 0;
    padding: 0 5px;
    width: 240px;
}

#sn div.sndiv span{
	font-weight: bold;
	cursor: pointer;
}
#sn div.sndiv .snvalue{
	width: 173px;
	float:left;
	display:block;
}
#sn div.sndiv .sntype{
	width: 50px;
	float:left;
	display:block;
}
#sn div.sndiv .rmsn{
	float:right;
}
#sn div.snitem select{
	width:75px;
	padding-top: 3px;
	margin-left: 3px;
}
#sn div.snitem input{
	width: 173px;
}
#sn input, #sn select,
#languages input.lang{
    float: left;
    height: 25px;
    margin-bottom: 5px;
}
#languages input.lang{
	width: 300px;
}

#languages .langdiv{
	width: 290px;
	font-weight: bold;
	background: none repeat scroll 0 0 #E2E8F6;
	border: 1px solid #BDC7D8;
	padding: 0px 5px;
	margin: 2px 0px;
	line-height: 25px;
}
#languages .removed,
#sn .removed{
	display:none;
}
#languages span{
	cursor: pointer;
	float: right;
	font-weight: bold;
}