.comment_popup {
	height: 66px;
	margin-bottom: 30px;
}

.list_comment_header {
	background-color: NavajoWhite;
	height: 35px;
	line-height: 36px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	padding-left: 10px;
}

.comment_option {
	float: left;
	padding-top: 14px;
	border: 1px solid;
	height: 72px;
	margin-right: 1px;
	padding-left: 5px;
	margin-left: 5px;
	width: 90px;
}

.comment_option div label {
	display: block;
	float: left;
	font-weight: bold;
	height: 20px;
	width: 56px;
}

.comment_panel {
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 392px;
	border: 1px solid;
}

.comment_panel p label {
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	width: 50px;
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.clear_left {
	clear: left;
}

.comment_panel p input {
	float: left;
	height: 20px;
	line-height: 20px;
	width: 335px;
	margin-bottom: 3px;
	padding: 0px;
}

.comment_panel p textarea {
	width: 335px;
	padding: 0px;
}
.divbu{
	 overflow-y: scroll;
	 width:520px;
}
.bt_comment_update{
	 margin-right: 5px;
    padding: 5px;
    float:right;
    line-height: 36px;
    margin-top: 3px;
    font-weight: bold;
}
.bt_header{
	padding: 5px;
	 font-weight: bold;
}

.comment_option div{
	height: 20px;
}