#content,#content1{
	padding:1px 1px 10px 1px;
	width:787px;
	float:right;
	overflow:hidden;	
}
#content1{
	padding:0px;
	width:791px;
	overflow:hidden;
	margin-bottom:10px;
}
.border_content{
	border:1px solid #cecece;	
}
.content_col{
	width:388px;
	overflow:hidden;
}
.col_title{
	height:24px;
	line-height:24px;
	text-indent:7px;
	font-size:12px;
}
.col_title a{
	float:left;
	color:#121212;
	margin-right:43px;
	font-weight:bold;
}
.content_col ul,.user_menu ul{
	height:37px;
	line-height:37px;
	background:#ededed;
}
.content_col ul li,.user_menu ul li{
	display:inline;
	height:37px;
	background:url(../images/tab_line.jpg) no-repeat left;
	float:left;
}
.content_col ul a,.content_col ul.content_right a,.user_menu ul a{
	color:#00627d;
	font-weight:bold;
	padding:0px 15px;
	float:left;
}
.user_menu ul a{
	padding:0px 24px;	
}
.content_col ul.content_right a{
	padding:0px 8px 0px 9px;	
}
.content_col ul.content_right a.last_li,.user_menu ul li.last_li a{
	color:#282828;
}
.user_menu ul li.last_li{
	float:right;
	text-align:right;
	padding-left:184px;
	padding-right:0px;
}
.user_menu ul li.last_li a{
	padding-right:10px;
}
.content_col ul a:hover,.content_col ul a.active,.user_menu ul a.active,.user_menu ul a:hover{
	background:url(../images/tab_hover.jpg) repeat-x;
	color:#fff;
}
.entry,.entry1,.entry2{
	margin-top:9px;
	border-bottom:1px solid #e1e1e1;
	padding-bottom:11px;
	width:381px;
	margin-left:7px;
}
.entry1{
	margin-right:7px;	
	margin-left:0px;	
}
.user_img1{
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	_margin-right:9px;
}
.user_img1 img{
	width:50px;
}
.comment_intro1{
	height:42px;
	overflow:hidden;
}
.entry_intro,.entry_intro1{
	float:left;
	width:321px;
}
.entry_intro1{
	width:540px;
}
.entry_intro a,.entry_intro1 h3{
	color:#0045e1;
	line-height:18px;
	display:block;
}
.entry_intro1 h3 a,.entry_intro1 h3 span{
	float:left;
	margin-right:4px;
	font-weight:normal;
	font-size:11px;
}
.entry_intro1 h3 span{
	color:#808080;
}
p.p_date{
	color:#959595;
}
.comment_user{
	margin-top:7px;
	line-height:18px;
}
.user_img2{
	float:left;
	width:94px;
	border:1px solid #9a9a9a;
	padding:1px;
	margin:0px 7px 10px 0px;
}
.user_img2 img{
	width:94px;
}
.comment_entry,.comment_entry1{
	border-top:1px solid #d5d5d5;
	width:321px;
}
.comment_entry1{
	width:540px;
}
p.comment_title{
	color:#0045e1;
	font-size:12px;	
}
p.comment_title a{
	color:#0045e1;
	height:29px;
	line-height:29px;
	display:inline;
	margin:0px 3px;
}
.comment_item,.comment_item1{
	background:#eceff5;
	width:308px;
	padding:6px 8px 7px 6px;
	margin-bottom:1px;
}
.comment_item1{
	width:525px;
}
.comment_img,.user_img3{
	float:left;
	width:28px;
	height:28px;
	overflow:hidden;
	margin-right:7px;
}
.comment_img img,.user_img3 img{
	width:28px;
}
.comment_intro,.comment_intro2{
	float:left;
	width:272px;
	line-height:16px;
	overflow:hidden;
}
.comment_intro2{
	width:490px;
}
.comment_intro p{
	height:28px;
	overflow:hidden;
	padding-bottom:2px;
	margin-bottom:5px;
}
.comment_intro span,.comment_intro2 span{
	color:#928d8d;
	line-height:16px;
	float:left;
	width:150px;
}

.comment_intro a,.comment_intro2 a{
	float:right;
	text-align:right;
	width:100px;
	color:#006be4;
}
.comment_form{
	background:url(../images/comment_bg.jpg) no-repeat;
	width:313px;
	height:58px;
	overflow:hidden;
	margin-top:2px;
	padding:9px 0px 0px 6px;
}
.user_img3{
	margin-right:4px;
}
.comment_form input{
	border:1px solid #dbdbdb;
	width:266px;
	padding:5px 2px;
	float:left;
}
.comment_form button{
	color:#fff;
	background:#0493bc;
	border:none;
	padding:3px;
	#padding:0px 3px;
	float:right;
	margin:4px 11px 0px 0px;
	font-size:11px;
}
a.view_btn,a.view_btn1{
	background:url(../images/view_btn.jpg) no-repeat;
	height:24px;
	line-height:24px;
	color:#fff;
	float:right;
	display:block;
	width:88px;
	font-weight:bold;
	 
	text-indent:7px;
	margin-top:10px;
}
a.view_btn1{
	margin-right:10px;
}
#news_button img{
	#padding-top:3px;
}
/*=============================
			CONTENT LEFT
================================*/
#content_left{
	float:left;
	width:602px;
	overflow:hidden;
}
.navigation1{
	padding-top:4px;
	height:24px;
	line-height:24px;
	font-weight:bold;
	margin-bottom:3px;
}
.navigation1 a{
	color:#000;
	font-size:16px;
}
.product{
	border-bottom:1px solid #e1e1e1;
	padding:19px 20px;
}
.product_img{
	float:left;
	height:115px;
	width:98px;
	overflow:hidden;
	margin:auto;
}
.product_intro{
	float:left;
	width:350px;
	margin-left:13px;
	line-height:24px;
	color:#212121;
	font-size:12px;
}

.product_intro h4 a{
	color:#0080a4;
}
.product_intro p.cost{
	font-weight:bold;
	color:#ed0000;
	font-size:18px;
}
.product_intro span{
	width:180px;
	margin-right:20px;
	float:left;
}
a.buy{
	background:url(../images/btn2.jpg) no-repeat;
	width:85px;
	text-align:center;
	height:24px;
	line-height:24px;
	color:#fff;
	 
	font-weight:bold;
	float:right;
}
.page{
	color:#4c4c4c;
	line-height:19px;
	text-align:right;
	margin:12px 15px;	
	font-size:12px;
}
.page a{
	color:#00aada;
	text-decoration:underline;
	border-right:1px solid #00aada;
	padding:0px 4px;
}
.page a.active,.page a:hover{
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
a.none_border{
	border:none;
	padding-right:0px;
}
a.adv_img1{
	width:601px;
	margin-bottom:11px;
	display:block;
	overflow:hidden;
}
input.input_user{
	background:url(../images/input_user.jpg) no-repeat;
	border:none;
	height:23px;
	color:#3d3d3d;
	margin-bottom:5px;
	margin-right:3px;
	padding-left:27px;
	width:113px;
}
input.input_pass{
	background:url(../images/input_pass.jpg) no-repeat;
	border:none;
	height:23px;
	color:#3d3d3d;
	padding-left:25px;
	width:115px;
	margin-bottom:5px;
}
#login_form label{
	color:#0095f3;
	 
	border-right:1px solid #0095f3;
	padding-right:4px;
	margin-right:3px;
	float:left;
	#margin-top:2px;
}
input.input_check{
	float:left;
	margin:1px 5px 0px 0px;
	#margin:0px;
}
#login_form a{
	color:#0095f3;	
	 
	float:left;
	#margin-top:2px;	
}
#login_form input.button{
	color:#fff;
	background:url(../images/login_btn.jpg) no-repeat;
	border:none;
	width:52px;
	line-height:15px;
	height:16px;
	text-align:center;
	 
}
/*==================================== SELL TEXTBOOK ======================*/
.sell_textbook{
	border:1px solid #cecece;
	padding:1px;
	width:598px;
	overflow:hidden;
	margin-top:9px;
}
.sell_textbook h3{
	background:url(../images/tab_bg.jpg) repeat-x;
	height:34px;
	line-height:34px;
	color:#fff;
	font-size:14px;
	text-indent:12px;
}
.sell_textbook form{
	margin-top:8px;
	padding-bottom:10px;
}
.col_left{
	float:left;
	width:285px;
}
.sell_textbook form label{
	float:left;
	width:59px;
	margin-right:8px;
	color:#4d4d4d;
	font-weight:bold;
	height:20px;
	line-height:20px;
	margin-left:13px;
	font-size:12px;
}
.sell_textbook form label.error{
	width: 200px;
	margin-left: 80px;
	height:20px;
	margin-bottom: 5px;
	color: red;
}
.sell_textbook form label.checked{
	display: none !important;
}

.col_left input,.col_left select{
	width:203px;
}
.col_left input.input_check{
	width:auto;
	border:none;	
}
.col_left span{
	float:left;
	margin-top:3px;
	margin-right:16px;
}
.sell_textbook form input,.sell_textbook form select,.sell_textbook form textarea{
	border:1px solid #e3e9ef;
	border-top-color:#abadb3;
	border-left-color:#e2e3ea;
	border-left-color:#dbdfe6;	
	margin-bottom:5px;
	height:20px;
	float:left;	
	padding:1px 0px;
	font-size:11px;
}
.col_right{
	float:left;
	width:280px;
	margin-left:9px;
}
.sell_textbook form .col_right label{
	width:71px;
	margin-right:11px;
	margin-left:0px;
}
.col_right input{
	width:195px;
}
.sell_textbook form textarea{
	width:569px;
	margin-left:13px;
	height:140px;
	border:1px solid #ebebeb;
	font-size:12px;	
}
.sell_textbook form input.input_button,.sell_textbook form input.input_submit{
	background:url(../images/btn1.jpg) no-repeat;
	color:#000;
	width:73px;
	float:left;
	border:none;
	height:22px;
	font-size:12px;	
	padding-bottom:5px;
	margin:13px 0px 0px 13px;
}
.sell_textbook form input[type="file"] { width: 120px; }
/*============================= FEEDBACK ================================*/
.feedback_user{
	height:134px;
	overflow:hidden;
	color:#4b4b4b;
	font-weight:bold;
	line-height:24px;	
	padding:12px 0px 3px 0px;
	font-size:12px;
}
.feedback_user_img{
	float:left;
	border:1px solid #c8c8c8;
	padding:1px;
	width:143px;
	height:130px;
	overflow:hidden;
	margin-right:12px;
}
.feedback_user_img img{
	width:143px;
}
h3.feedfack_title{
	color:#0faedc;
	font-size:14px;
	height:27px;
	line-height:27px;
	text-indent:2px;
}
.feedback_table_title{
	background:#ededed;
	height:30px;
	line-height:30px;
	color:#1d4854;
	font-weight:bold;
	font-size:12px;
}
.feedback_table_title span{
	background:url(../images/tab_line.jpg) no-repeat left top;
	float:left;
	text-indent:9px;
}
.table_span1{
	width:108px;
	text-indent:16px;
}
.table_span2{
	width:101px;
	text-indent:31px;
}
.table_span3{
	width:112px;
	text-indent:27px;
}
.feedback_table table{
	background:#fff;
	color:#4a4a4a;
	border:#fff;
	#border:none;
}
.feedback_table table tr{
	background:#f2f7f9;
}
.feedback_table table tr td{
	line-height:20px;
	padding:4px 0px 5px 0px;
}
.feedback_table table tr td.table_span1{
	margin-left:14px;
}
.feedback_table table tr td.table_span2,.feedback_table table tr td.table_span3{
	text-align:center;
	text-indent:0px;
}
.feedback_table table tr td a{
	color:#0069eb;
}
.feedback_table table tr td.table_span4{
	padding-left:12px;
	line-height:16px;
	color:#1d4854;
}
p.cost{
	color:#ff0000;
}
.book_detail{
	border:1px solid #cecece;
	padding:13px 10px 20px 13px;
	width:577px;
	margin-top:11px;
	font-size:12px;
}
.textbook_img{
	float:left;
	width:84px;
	height:115px;
	margin-right:15px;
	overflow:hidden;
}
.textbook_img img{
	width:84px;
}
.vote_img{
	float:left;
	width:106px;
	margin-top:10px;
	margin-right:7px;
}
a.bookdetail_btn{
	background:url(../images/btn1_left.jpg) no-repeat left;
	height:25px;
	float:left;
	padding-left:3px;
	margin:10px 8px 8px 0px;
}
a.bookdetail_btn span{
	background:url(../images/btn1_right.jpg) no-repeat right;
	height:25ps;
	line-height:25px;
	float:left;
	color:#4d4d4d;
	font-weight:bold;
	padding:0px 15px 0px 12px;
}
.book_detail p{
	font-weight:bold;
	color:#4d4d4d;
	margin-top:15px;
}
.book_detail .product_intro p{
	font-weight:normal;
	margin-top:0px;
}
.book_detail textarea{
	background:#fff;
	border:1px solid #ebebeb;
	color:#101010;
	padding:15px;
	width:539px;
	height:109px;
	margin-top:10px;
}
.seller_border{
	border:1px solid #e1e1e1;
	margin-top:14px;
	padding:1px;
	padding-bottom:10px;
	overflow:hidden;
	width:598px;
}
.user_title h3{
	color:#343434;
	font-size:14px;
	text-indent:13px;
	width:400px;
	float:left;
}
.user_title a{
	background:url(../images/btn3.jpg) no-repeat right;
	color:#222222;
	width:53px;
	padding-right:25px;
	float:right;
	text-align:right;
	margin-right:8px;
}
.seller_item{
	float:left;
	border-right:1px solid #d0d0d0;
	padding:3px 19px 14px 19px;
	margin-top:10px;
	width:156px;
	color:#212121;
	line-height:18px;
	height:226px;
	overflow:hidden;
	margin-right:10px;
	font-size:12px;
}
.more{
	border: none !important;
}
.pagemore{
	padding: 10px;
	border-top:1px solid #d0d0d0;
}

h3.bookTitle{
	height:18px;
	overflow:hidden;
}
.description{
	height:58px;
	overflow: hidden;
}
.description .campus, 
.product_intro .campus{
	color: #E88515;
	font-weight: bold;
}
.seller_img{
	height:115px;
	width:143px;
	margin-bottom:14px;
	text-align:center;
}
.seller_img img{
	height:115px;
}
.seller_item h3 a{
	color:#0080a4;
	display:block;
	overflow: hidden;
}
.seller_item p.cost{
	font-weight:bold;
	font-size:18px;
	margin-top:15px;
	float:left;
}
a.view{
	float:right;
	width:49px;
	margin-top:15px;
	color:#2f2f2f;	
}
.seller_list{
	width:615px;
	overflow:hidden;
}
/*=========================== INDEX USER==================================*/
.find_book_border,.find_book_border1{
	width:601px;
	overflow:hidden;
	background:#d2f5ff;
	margin-top:11px;
	margin-bottom:10px;
	font-size:12px;
}
.find_book_border1{
	margin-top:0px;
}
.find_title{
	background:url(../images/find_textbook_bg.jpg) no-repeat;
	height:34px;
	color:#fff;
	font-size:14px;
	line-height:34px;	
}
.find_title p.p_left{
	text-indent:16px;
	float:left;
	width:379px;
	_width:376px;
}
.find_book{
	float:left;
	width:350px;
	padding-left:14px;
	overflow:hidden;
	padding-bottom:9px;
}
.navigation_find{
	color:#232323;
	font-weight:bold;
}
.navigation_find a,.sell_book h3{
	color:#232323;
	height:36px;
	line-height:36px;
	margin-right:4px;
	margin-left:4px;
}
.find_book input,.sell_book input{
	width:262px;
	border:1px solid #fff;
	border-bottom-color:#e4e4e4;
	border-left-color:#e4e4e4;
	padding:2px 5px;
	margin-right:7px;
	margin-bottom:9px;
}
.find_book input.input_sumit,.sell_book input.input_sumit{
	width:43px;
	text-align:center;
	color:#fff;
	height:21px;
	line-height:21px;
	background:#f47e13;
	border:none;
	padding:0px;
}
.sell_book{
	background:#bdf0ff;
	width:226px;
	float:left;
	padding-left:11px;
	padding-bottom:9px;
}
.sell_book h3{
	margin:0px;
}
.sell_book input{
	width:156px;
	padding:2px 4px;
}
.text_ISBN{
	background:url(../images/icon_ISBN.jpg) no-repeat left top;
	width:119px;
	padding-left:99px;
	font-size:11px;		 	
	height:62px;
	overflow:hidden;
}
.text_ISBN p{
	padding-top:5px;
}
.text_ISBN a{
	color:#006581;
	font-style:italic;
	font-weight:bold;
	text-align:right;
	display:block;
	height:30px;
	line-height:20px;
}
/*============================== REGISTER ==========================*/
#register{
	width:1001px;
	overflow:hidden;
	min-height:350px;
	background:url(../images/campus_register_bg.jpg) no-repeat top left;
}
#register form{
	width:400px;
	float:right;
	margin-right:52px;
}
#register form h3{
	font-size:24px;
	color:#048eb5;
	margin-top:22px;
}
#register form h4{
	color:#048eb5;
	font-size:18px;
	margin-bottom:16px;
}
#register form label{
	float:left;
	width:106px;
	margin-right:7px;
	color:#003ea6;
	padding-top:3px;
	text-align:right;
}
#register form label.error{
	height:22px;
	width:287px;
	padding-top:3px;
	text-align:left;
	margin-left:113px;
	color: red;
}
#register form label.checked{
	display:none !important;
}
#register form select.select_campus{
	width:284px;
	margin-right:0px;
}
#register form input,#register form select{
	border:1px solid #dbe0e1;
	width:281px;
	float:left;
	height:22px;
	margin-bottom:6px;
}
#register form select{
	width:68px;
	margin-right:8px;
}
#register form select.select_sex{
	width:97px;
}
#register form input.input_submit1{
	background:url(../images/signup_btn.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	border:none;
	width:156px;
	text-align:center;
	height:38px;
	padding-bottom:16px;
	margin-left:155px;
	margin-top:12px;
	margin-bottom:10px;
}
/*==================================== PROFILE ===============================*/
.avartar_img1{
	border:1px solid #becace;
	padding:7px;
	width:183px;
	height:166px;
	overflow:hidden;
	margin-bottom:5px;
}
.avartar_img1 img{
	width:183px;
}
.entry2{
	width:600px;
	margin-left:0px;
}
.table_cal{
	background:url(../images/table_bg.png) repeat;
	width:167px;
	margin:auto;	
/*	
	_azimuth: expression(
this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='scale')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true);
*/
}
.sitebar_right_item table{
	margin-left:7px;
	width:141px;
	font-size:12px;
}
.sitebar_right_item table tr td{
	width:28px;
	height:25px;
	text-align:right;
	padding-right:7px;
	border-right:1px solid #a6b5bc;
}
.feedback_user1{
	font-size:12px;
	color:#4b4b4b;
	font-weight:bold;
}


/*For Cart Order*/
.cart_table{
	width: 600px;
	border: solid 1px #EDEDED;
}
/**/