body {
	font: 0.8em/21px arial,sans-serif;
}
input.checkbox, input.radio{display:none }
.checkbox, .radio {
	width: 19px;
/*	height: 25px;*/
	padding: 0 5px 0 0;
}
.checkbox {
	background: url(../images/checkbox.png) no-repeat;
}
.radio {
	background: url(../images/radio.gif) no-repeat;
}
.select {
	position: absolute;
	width: 110px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(../images/select.png) no-repeat !important;
	overflow: hidden;
}
