.header-interest{
	color:#546778;
	font-weight:bold;
	height:45px;
	line-height:45px;
	margin:10px 10px 0;
	background-color:#e4de95;
}

.header-ele-interest{
/*	display:block;
	float:left;
	height:45px;
	width:40px;

	*/
	text-align:center;
}

.row-interest{
	height:35px;
	line-height:35px;
	margin:0px 10px 0;
}
.row-interest-odd{
background-color: #efeab7;
}

.row-interest-even{
background-color :#fdfadb;
}

.name-bank-interest{
display:block;
float:left;
width:187px;
color:#9a4100;
font-weight:bold;
height:35px;
text-align:center;
overflow:hidden;
}
.value-interest{
	border-right:1px solid white;
	cursor:pointer;
	display:block;
	float:left;
	height:35px;
	text-align:center;
	width:40px;
	color:Navy;
}
.input-change-data{
	width:40px;
	text-align:center;
	height:20px;
}

.button-change-data{
	width:40px;
	height:20px;
	font-size:9px;
font-weight:bold;
}

.button-cancel-data{
	width:40px;
	height:20px;
	font-size:9px;
font-weight:bold;
}

#tinyForm{
float:left;
position:relative;
background-color:gray;
border:1px solid gray;
}
.choose_month{
padding:5px;
}
.box-month-interest{
border:1px dashed orange;
margin:10px;
width:-moz-fit-content;
float:left;
}

.pandog{
	padding:0px;
	text-align:center;
	background-color:#E4DE95;
}