@CHARSET "UTF-8";
.main-box-image{
	width:700px;
	border: 1px soild #9CD9EB;
	margin: 5px;
}
.main-box-image .main-box-header{}

.main-box-image .box{
	float:left;
	width:175px;
	height:180px;
	border:1px solid #9CD9EB;
	padding:4px;
}
.main-box-image .box img{
width:175px;
height:120px;
}

.main-box-image .box .image-file{
	float:left;
	width:150px;
	height:120px;
}
.main-box-image .box .image-name{
	float:left;
	height:20px;
	line-height:16px;
}
.main-box-image .box .image-size{
	float:left;
	height:20px;
	line-height:16px;
}
.box .delete-image{
	float:right
}