#accordion2 {width:597px; margin-top:11px;}
.accordion2 {width:597px; font:12px Verdana,Arial; color:#333}
.accordion2 dt {
	width:597px; 
	cursor:pointer;
	background:url(../images/ui-bg_glass_75_e6e6e6_1x400.jpg) no-repeat right center;
	color:#7b7b7b; 
	height:29px;
	line-height:29px;
	margin-bottom:15px;
	text-indent:10px;
}

.accordion2 dt:hover {color:#006c41;}
.accordion2 .open {background:url(../images/ui-icons_454545_256x240.jpg) no-repeat right center; color:#006c41;}
.accordion2 dd { 
	background:#fff;
	margin-bottom:15px;
}
