@charset "utf-8";
/* CSS Document */
/*=================================================
                   GLOBAL
=================================================*/
#wrap-top {
	background: url(../images/bg-wrap-top.png) repeat-x top left;
	padding-bottom: 23px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
#wrap-top-box {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
#logoTop, #wrap-top-box .hotline, #wrap-top-box .support-online {
	float: left;
	height: 43px;
	background: url(../images/arrow-wrap-top.png) no-repeat top right;
	padding: 7px 52px 0 40px;
}
#logoTop {
	padding-left: 0px;
}
#wrap-top-box .hotline p {
	background: url(../images/icon-phone.png) no-repeat 0 5px;
	padding-left: 27px;
	font-weight: bold;
	font-size: 11px;
}
#wrap-top-box .hotline p span {
	display: block;
	color: #fe0000;
	font-size: 16px;
}
#wrap-top-box .support-online p {
	font-weight: bold;
	font-size: 11px;
}
#wrap-top-box .support-online a {
	display: inline-block;
	margin-right: 14px;
	vertical-align: middle;
}
#wrap-top-box .support-online .yahoo {
	background: url(../images/icon-yahoo.jpg) no-repeat top left;
	width: 16px;
	height: 16px;
}
#wrap-top-box .support-online .skype {
	background: url(../images/icon-skype.jpg) no-repeat top left;
	width: 16px;
	height: 16px;
}
#wrap-top-box .support-online .email {
	background: url(../images/icon-mail.png) no-repeat top left;
	width: 15px;
	height: 12px;
}
.social {
	float: left;
	padding: 13px 0 0 40px;
	background: none;
}
.social .facebook, .social .twitter, .social .googlePlus, .social .send, .product-social .facebook, .product-social .twitter, .product-social .googlePlus, .product-social .send {
	float: left;
	overflow: hidden;
	margin-right: 6px;
}
/*====HEADER===*/
#wrap {
	background: url(../images/bg-wrap.jpg) repeat-x top left;
}
#header {
	width: 960px;
	margin: 0 auto;
	height: 79px;
	position: relative;
}
#logo {
	margin: 11px 60px 0 0;
	float: left;
}
#slogan {
	margin-top: 26px;
	float: left;
	text-indent: -9999px;
	width: 421px;
	height: 43px;
	background: url(../images/slogan.png) no-repeat top left;
}
#quickSearch {
	position: absolute;
	right: 0;
	top: 29px;
}
#quickSearch input {
	float: left;
	border: 0;
	height: 29px;
}
#quickSearch input[type="text"] {
	width: 185px;
	padding-left: 5px;
	font-size: 12px;
	color: #777777;
	line-height: 28px;
	background: url(../images/bg-quickSearch.png) no-repeat top left;
	margin-right: 5px;
}
#quickSearch input[type="button"] {
	width: 28px;
	background: url(../images/bt-search.png) no-repeat top left;
}
/*===============*/
#menu {
	width: 960px;
	height: 33px;
	margin: 0 auto;
}
#menu .nav {
	height: 33px;
	width: 821px;
	background: url(../images/bg-nav.png) no-repeat bottom left;
	float: left;
}
.dropMenu {
	white-space: nowrap
}
.dropMenu li {
	float: left;
	z-index: 99;
}
.dropMenu li a {
	display: block;
	line-height: 48px;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	background: url(../images/br-nav.png) no-repeat bottom right;
	padding-left: 15px;
}
.dropMenu li.home {
	width: 55px;
	height: 40px;
}
.dropMenu li.home .icon {
	background: url(../images/ico-home.png) no-repeat 7px 15px;
}
.dropMenu a.last {
	background: none;
}
.dropMenu li.item-1 {
	/*padding-left: 15px;*/
	margin-top: -7px;
	margin-left: -6px;
	height: 40px;
	position: relative;
}
.dropMenu li.item-1:hover {
/*background:url(../images/bg-left-menu.png) no-repeat top left;*/
}
.dropMenu li.item-1:hover a {
	color: #8daa00;
	background: url(../images/bg-left-menu.png) no-repeat top left;
}
.dropMenu li.item-1 span {
	display: block;
	line-height: 48px;
	height: 40px;
	padding: 0 16px 0 0px;
	margin-right: -6px
}
.dropMenu li.item-1:hover span {
	background: url(../images/bg-hover-menu.png) no-repeat top right;
}
.dropMenu li.item-1:hover #sub {
	display: block;
}
.dropMenu ul#sub {
	display: none;
	position: absolute;
	background: #fff;
	width: 160px;
	box-shadow: 2px 2px 10px #ccc;
	left: 6px;
	zoom: 1;
}
.dropMenu ul#sub a {
	color: #494949;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px solid #e5e5e5;
	height: 32px;
	line-height: 32px;
	padding-left: 25px;
	background: url(../images/arr-person.png) no-repeat 15px;
}
.dropMenu ul#sub a:hover {
	color: #66992b;
}
.dropMenu ul#sub li {
	background: none;
	float: none;
	height: 32px;
}
#shopCart {
	float: right;
	background: url(../images/bg-shopcart.png) no-repeat top right;
	width: 138px;
	height: 33px;
}
#shopCart a {
	line-height: 35px;
	padding-left: 47px;
	color: #fff;
	text-transform: uppercase;
}
.cat-product-box {
}
/*    */
#slideshow {
	padding-bottom: 23px;
	background: url(../images/bg-sd-slide.png) no-repeat bottom center;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.cat-product-box {
	width: 200px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 9;
	background: #fff;
	box-shadow: 0 0 9px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.7;
	filter: alpha(opacity=70);
	border: 1px solid #64ab32;
	border-radius: 15px 0 15px 0;
	behavior: url(js/PIE.htc);
}
.cat-product-box .H2title {
	font-family: 'hoa';
	text-align: center;
	padding: 10px 0 5px;
	font-size: 1.9em;
}
.cat-product-box ul {
	padding-bottom: 10px;
}
.cat-product-box li {
	border-bottom: 1px solid #e5e5e5;
	padding-left: 10px;
	background: url(../images/icon-rose.png) no-repeat 9px;
}
.cat-product-box ul a {
	color: #494949;
	font: bold 13px Arial;
	line-height: 30px;
	padding-left: 23px;
}
.cat-product-box ul a:hover {
	color: #ff0000;
}
/* Main    */
#main {
	background: #fff;
	width: 940px;
	_width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
#sidebar {
	float: left;
	width: 235px;
}
.cat-gift-box, .support-box, .aboutFlow, .weblink-box {
	background: url(../images/bg-box.png) repeat-y top left;
	margin-bottom: 21px;
}
.cat-gift-box .box-shadow, .support-box .box-shadow, .aboutFlow .box-shadow, .weblink-box .box-shadow {
	background: url(../images/bg-box-bottom.png) no-repeat bottom left;
	width: 100%;
	padding-bottom: 9px;
	border-top: 1px solid transparent;
}
.cat-gift-box .H2title, .support-box .H2title, .aboutFlow .H2title, .weblink-box .H2title {
	background: url(../images/bg-title_06.png) no-repeat top left;
	height: 42px;
	font: bold 13px Arial;
	line-height: 38px;
	padding-left: 45px;
	color: #fff;
	text-transform: uppercase;
	margin-top: -5px;
}
.cat-gift-box ul, .aboutFlow .topNews, .aboutFlow .newsItem, .weblink-box .weblink {
	padding: 0 22px 0 18px;
}
.cat-gift-box li {
	border-bottom: 1px solid #e5e5e5;
	height: 34px;
	background: url(../images/icon-rose.png) no-repeat 0px;
}
.cat-gift-box li {
	background-image: url(../images/icon-gift.png)
}
.cat-gift-box a {
	color: #494949;
	font: bold 13px Arial;
	line-height: 34px;
	padding-left: 26px;
}
.cat-gift-box a:hover {
	color: #66992b;
}
.guide {
	width: 229px;
	height: 56px;
	overflow: hidden;
	margin-bottom: 21px
}
.person-support {
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 22px 0 18px;
	padding-bottom: 10px;
}
.person-support p.name {
	background: url(../images/arr-person.png) no-repeat 0px 5px;
	font-weight: bold;
	padding-left: 12px;
}
.person-support p.phone-number, .person-support p.email {
	padding-left: 29px;
	font-weight: bold;
}
.person-support p.phone-number {
	background: url(../images/icon-phone.gif) no-repeat 14px;
	color: #ff0000;
}
.person-support p.email {
	background: url(../images/icon-email.gif) no-repeat 12px;
}
.person-support .online {
	padding-left: 18px;
	padding-top: 8px;
}
.person-support .online img {
	vertical-align: middle;
}
.topNews a.title {
	color: #353535;
	font-size: 12px;
}
.topNews p.desc {
	margin: 5px 0;
	padding-bottom: 9px;
	border-bottom: 1px solid #e5e5e5;
}
.topNews p.desc a.thumnail {
	float: left;
	margin-right: 9px;
}
.aboutFlow .newsItem {
	padding-bottom: 5px;
}
.aboutFlow .newsItem a {
	padding-left: 11px;
	background: url(../images/arr-person.png) no-repeat 0px;
	color: #808080;
	font-weight: bold;
}
.weblink-box .weblink {
	padding-top: 12px;
}
.weblink .linkSocial {
	margin-top: 10px;
}
.weblink .linkSocial a {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/social-spt.png) no-repeat top left;
	margin-left: 2px;
	vertical-align: middle;
}
.weblink .linkSocial a.twitter {
	background-position: -24px 0;
}
.weblink .linkSocial a.googlePlus {
	background-position: -48px 0;
}
.adv-box {
	width: 229px;
	heigt: 158px;
	overflow: hidden;
}
/*  Primary    */
#primary {
	width: 694px;
	float: right;
}
#breadcrumb {
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	margin-bottom: 11px;
}
#breadcrumb li {
	float: left;
	padding-right: 10px;
	vertical-align: top;
	background: url(../images/arr-bread.png) no-repeat 100%;
}
#breadcrumb li a {
	padding-left: 8px;
	color: #999999;
}
#breadcrumb li.home a {
	background: url(../images/icon-bread-home.png) no-repeat top left;
	margin-top: 2px;
}
#breadcrumb li.last {
	background: none;
}
.productNew, .gift, .indexVideo {
	width: 100%;
}
.productNew h2.H2title, .gift h2.H2title, .indexVideo h2.H2title {
	height: 32px;
	background: url(../images/title-box_06.png) no-repeat top left;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 32px;
	padding-left: 14px;
}
.productNew .productNew-box, .gift .gift-box {
	padding-top: 16px;
	overflow: hidden;
	margin-bottom: 3px;
}
.productNew-box .product-item, .gift-box .gift-item {
	float: left;
	width: 216px;
	margin-right: 23px;
	padding-bottom: 22px;
}
.productNew-box .product-item-br, .gift-box .gift-item-br {
	border: 1px solid #e4e4e4;
	height: 257px;
	position: relative;
	padding-bottom: 10px;
}
.product-thumbnail, .gift-thumbnail {
	width: 214px;
	height: 196px;
 *line-height:196px;
	text-align: center;
	overflow: hidden;
}
.product-thumbnail:before, .gift-thumbnail:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.product-thumbnail img, .gift-thumbnail img {
	vertical-align: middle;
}
.product-item .H3title a, .gift-item .H3title a {
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	padding-left: 9px;
}
.product-item .msp, .gift-item .msp {
	padding-left: 9px;
	margin: 2px 0;
	font-size: 13px;
	color: #999999;
}
.product-item .msp span, .gift-item .msp span {
	color: #8daa00;
}
.product-item .price, .gift-item .price {
	padding-left: 9px;
	font-size: 14px;
	color: #ed1c24;
	font-weight: bold;
}
.product-item .price span, .gift-item .price span {
	color: #666666;
	text-decoration: underline;
	font-size: 12px;
	vertical-align: 2px;
}
.product-item .order, .gift-item .order {
	width: 89px;
	height: 25px;
	display: block;
	background: url(../images/order.png) no-repeat top left;
	position: absolute;
	right: 7px;
	bottom: 10px;
}
.indexVideo {
	background: url(../images/bg-Video.png) repeat-y top left;
}
.indexVideo-box {
	background: url(../images/bg-sd-video.png) no-repeat bottom left;
	padding: 21px 27px 29px;
}
.indexVideo-item {
	margin-right: 19px;
	float: left;
}
.indexVideo-thumb {
	width: 200px;
	height: 185px;
	overflow: hidden;
}
.indexVideo-item .H3title {
	padding-top: 5px;
	color: #333333;
	font-weight: normal;
	font-size: 14px;
}
/* Footer */
#footer {
	background: #4c3418 url(../images/bg-footer.jpg) repeat-x top center;
	height: 235px;
	margin-top: 12px;
	color: #c1945f;
	overflow: hidden;
}
#footer-box {
	width: 960px;
	margin: 0 auto;
	padding-top: 143px;
}
.ft-left {
	float: left;
}
.ft-left h3 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
.ft-right {
	float: right;
}
.counter {
	padding-left: 41px;
	background: url(../images/icon-counter.png) no-repeat 5px;
	color: #c1945f;
}
.copyright {
	margin-top: 15px;
}
/******/
#top {
	width: 29px;
	height: 39px;
	position: fixed;
	bottom: 35px;
	right: 133px;
	cursor: pointer;
	background: url(../images/back_to_top_btn.png) no-repeat 0 0;
}
#top:hover {
	background-position: -29px 0px;
}
#bigPic {
	width: 294px;
	height: 272px;
	padding: 15px;
	border: 1px solid #CCC;
	background-color: #FFF;
}
#bigPic img {
	position: absolute;
	display: none;
}
ul#thumbs li.active {
	border: 1px solid #bed62f;
	padding: 2px;
}
ul#thumbs, ul#thumbs li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#thumbs li {
	float: left;
	margin: 12px 14px 0px 0px;
	padding: 2px;
	border: 1px solid #CCC;
	cursor: pointer;
}
ul#thumbs img {
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.left_detail {
	float: left;
}
.h1_detail {
	font-size: 18px;
	color: #427003;
}
.code_detail {
	color: #999;
	margin: 3px 0px;
	font-size: 14px;
}
.code_detail span {
	color: #8daa00;
}
.price_detail span {
	color: #ed1c24;
	font-weight: bold;
}
.line_fix {
	border-bottom: 1px solid #e7e5e5;
	margin: 5px 0px;
}
.right_detail {
	float: left;
	width: 330px;
}
.but_order {
	width: 143px;
	height: 42px;
	background: url(../images/bt_order.png) center center no-repeat;
	border: none;
	margin: 10px 0px 5px 0px;
}
.order_detail label {
	color: #666;
	margin-right: 5px;
}
.tag_detail span {
	color: #427003;
}
.tag_detail a {
	color: #999;
}
.title_ct {
	color: #427003;
	margin: 10px 0px 3px 0px;
}
.detail_content {
	margin: 0px 0px 15px 0px;
}
.productNew-detai-box {
	border: 1px solid #e4e4e4;
	padding: 10px;
	border-top: none;
	margin-bottom: 10px !important;
}
.news_home_item {
	border-bottom: 1px dotted #a7a7a7;
	padding:10px 0px;
	color: #4b4b4b;
	text-align: justify;
	overflow: hidden;
}
.news_home_img {
	float: left;
	margin-right: 12px;
	width: 210px;
	height: 161px;
	position: relative;
}
.news_home_img img {
	padding: 4px;
	border: 1px solid #CCC;
	margin:12px 8px;
	width:185px;
}
.news_home_img span {
	width: 210px;
	height: 161px;
	position: absolute;
	background: url(../images/bg_image_detail.png) center center no-repeat;
}
.news_home_item h3 a {
	font-weight: bold;
	color: #008d36;
	font-size: 14px;
	color: #427003;
	margin-top:8px;
}
.more {
	font-size: 12px;
	color: #7ca93e;
	font-style: italic;
}


.other h3{
    background: url("images/other_title_right.jpg") no-repeat scroll right top #3CC046;
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 7px;
    margin-top: 33px;
}

.other li a {
    border-bottom: 1px solid #FFFFFF;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 4px 0px 4px 10px;
	background:url(../images/bg_li_other.png) left center no-repeat;
}
.other a:hover{
	color:#7ca93e;
}
.H2title a{
	color:#FFF;
	text-transform:none !important;
	float:right;
	margin-right:5px;
}	
.other .H2title{
	height:30px !important;	
}
