/* Tabs
----------------------------------*/


.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-panel {
	position:relative;
	float:left;
	width:100%;
	padding:5px 0px;
	display: block;
	border-width: 0;
	padding-top:0px;
	background: none;
}
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs-selected a{
	color:#dc5a00;
	background:url(../images/campus_user_menu_hover.jpg) repeat-x;
}