*{
	padding:0px;
	margin:0px;
}
html{
	background:#fff url(../images/bg.jpg) repeat-x top;	
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background:url(../images/bg1.jpg) repeat-x bottom;
}
#center{
	width:1001px;
	margin:auto;
	overflow:hidden;
	padding-top:6px;
}
.clear{
	clear:both;
}
.clear_left{
	clear:left;
}
.clear_right{
	clear:right;
}
h1, h2, h3, h4, h5, h6{
	font-size:12px; 
}
img, p, ul{
	border:0px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	outline: none;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.textgrey{
	color:#818181;
}
/*---------- Một số chuẩn khi cắt css và tránh lỗi IE6-------------
- Khi thêm thuộc tính margin cho thẻ phải thêm thuộc tính display:inline (trừ những thẻ không có chiều cao, rộng cố định thì không cần thiết)
- Khi thêm padding chiều nào của một thẻ phải giảm độ rộng, cao tương ứng nếu thẻ có chiều rộng hoặc cao cố định.
- Tất cả các link phải có hover
- Những button như Hủy,Gửi đặt trong thẻ input phải có thuộc tính cursor:pointer . 
- Những Title chỉ có một dòng thì tránh dùng padding-left khi muốn cách đầu dòng_ nên dùng text-indent:px và nên sét chiều rộng và thuộc tính overflow:hidden.
- Nếu thẻ <img/> đặt trong một thẻ khác mà hình ảnh quá nhỏ thì phải có thuộc tính font-size:1px trong thẻ chứa <img/>

* ---------------------------Qui tắc đặt tên--------------*/
#link_top a:hover,.sitebar_message a:hover,#footer ul a:hover,a.lang_vn:hover,.avar_list a:hover,.product_intro h4 a:hover,#login_form a:hover,a.view:hover,.seller_item h3 a:hover,.user_title a:hover,.sitebar_title1 a:hover,a.friend_item:hover span,.todolist a:hover,.comment_intro a:hover, .comment_intro2 a:hover{
	text-decoration:underline;
}