@font-face {
    font-family: 'hoa';
    src: url('../js/UVNKeChuyen1.eot');
	src: url('../js/UVNKeChuyen1.eot?#iefix') format('embedded-opentype'),
         url('../js/UVNKeChuyen1.woff') format('woff'),
         url('../js/UVNKeChuyen1.ttf') format('truetype'),
         url('../js/UVNKeChuyen1.svg#uvntintuchep-webfont') format('svg');
    font-weight: normal;
   	font-style: normal;
}
*{
	padding:0px;
	margin:0px;
}
html{
	
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:18px;
}
img, p, ul{
	border:0px;
}
ul,ol{
	list-style:none;	
}
a{
	text-decoration:none;
	outline: none;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
}
.clear{
	clear:both;
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clearfix {
	display:inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
*html .clearfix {
	height: 1%;
}
.text-color{
	color:#ff0000;
}
.fontBold{
	font-weight:bold;
}
.MGBT17{
	margin-bottom:17px;
}
.