#mylistingContainer{
	width:778px;
	margin: 0px 15px;
}

#tabmylisting .listing_tab{
	height:23px;
	margin:9px 0px 9px 13px;
	font-size:12px;
	border-bottom:1px solid #adadad;
	width:778px;
	padding-bottom:12px;
}


.listing_tab li{
	float:left;
	display:inline;
	width:86px;
	height:23px;
	text-align:center;
	line-height:23px;
	margin-right:11px;
	position:relative;
}

.listing_tab li a{
	color:#6f6f6f;
	font-weight:bold;
}

.listing_tab li:hover a,
.listing_tab li.active a{
	color:#fff;
}

.listing_tab li:hover,
.listing_tab li.ui-tabs-selected, 
.listing_tab li.ui-state-active{
	background:url(../images/usercp_listing_menu1.jpg) no-repeat;
}

ul.subtab{
	left:auto;
	width: 150px;
	display: none;
	position:absolute;
	background-color: #F0F0F0;
	border:solid 1px #D9D9D9;
}


.subtab li{
	width:150px;
	text-align: left;
	text-indent: 15px;
}

.subtab li a{
	color:#000 !important;
	font-weight: normal !important;
	width: 100%;
	display: block;
}

.subtab li a:hover,
.subtab li a.active{
	color: #DC5A00 !important;
	font-weight:bold !important;
}


.subtab li:hover,
.subtab li.ui-tabs-selected, 
.subtab li.ui-state-active{
	background: none;
}



.ltab_textbook_con{
	border: solid 1px #D9D9D9;
}

.ltab_textbook_con div.header{
	background-color:#f6f6f6;
	height:33px;
	font-weight: bold;
}

.ltab_textbook_con div.row{
	border-bottom: 1px solid #D9D9D9;
}

.ltab_textbook_con div#rowtemp{
	padding:0px 0px 5px 10px;
}
.ltab_textbook_con div.header div.col{
	height:33px ;
	line-height: 33px;
	text-align: center;
}

.ltab_textbook_con div.col{
	float:left;
	height: 30px;
	line-height: 30px;
	overflow:hidden
}

.ltab_textbook_con div.header div.col2,
.ltab_textbook_con div.header div.col3{
	text-align: left;
}

.ltab_textbook_con div.col1{
	width: 425px;
	overflow: hidden;
	cursor:pointer;
	text-align: left;
	padding: 0px 5px 0px 10px;
}

.ltab_textbook_con div.col2{
	width: 80px;
	padding: 0px 5px
}

.ltab_textbook_con div.col3{
	height: 25px;
	width: 90px;
    line-height: 20px;
    text-align: left;
}

.ltab_textbook_con .row div.col3{
 	margin-top: 5px;
}

.ltab_textbook_con div.col4{
	width: 65px;
	text-align: center;
}

.ltab_textbook_con div.col5{
	width: 85px;
	text-align: center;
}

#ltab_textbook_sold_con div.col1{
	width: 400px;
}

#ltab_textbook_sold_con div.col3{
	width: 100px;
	margin-right: 5px;
	cursor: pointer;
}

#ltab_textbook_sold_con div.col4{
	width: 70px;
	padding: 0px 5px;
	text-align: left;
}

#ltab_textbook_sold_con .row div.col3{
	font-weight: bold;
}

.page_listing{
	text-align:right;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px 0px 0px;
	
}

.page_listing a{
	text-decoration:underline;
	color:#00aada;
	margin-right:3px;
}

#lt_a_form label{
	float:left;
	width: 50px;
	display:block;
	margin-bottom: 5px;
}

#lt_a_form input{
	float:left;
	display:block;
}