form#editForm{
	width: 590px;
	margin: 5px;
}
a.mess_send{
	float:left;
	margin:14px 11px 14px 0px;
}
.mess_new label{
	float:left;
	width:60px;
	padding-left:2px;
	margin-bottom:13px;
	height:29px;
	line-height:29px;
}
.mess_new input{
	float:left;
	background:url(../images/mess_input.jpg) no-repeat;
	border:none;
	height:29px;
	line-height:29px;
	width:500px;
	padding:0px 11px;
	margin-bottom:13px;
}
a.mess_attach{
	float:left;
	background:url(../images/mess_attach.jpg) no-repeat;
	padding-left:18px;
	color:#0076e3;
	margin:0px 0px 8px 62px;
	font-size:12px;
}

.mess_new label.error{
	margin-left:60px;
	color: red;
	width: 500px;
}

#file-uploader{
	border: 1px solid #D0D0D0; 
	margin:0px 0px 10px;
}