#item-list th{
	background:url(../images/title_bg.jpg) repeat-x;
	height:32px;
	line-height:32px;
	color:#323232;
	font-size:12px;
}
#item-list tr{
	height:32px;
	line-height:32px;
}
.cart_button{
	background:url("../images/cart_btn.jpg") no-repeat scroll 0 0 transparent;
	font-style:italic;
	height:21px;
	line-height:21px;
	text-align:center;
	width:102px;
	margin-top:5px;
	color: #00627D;
}
.cart_total{
	text-align: center;
	font-weight: bold;
}
.sub_total{
	text-align: left;
	text-indent: 5px;
}
.item_quality{
	width: 50px;
}
.item_content{
	padding: 0px 5px;
}

#order_form div{
	margin: 5px;
}
.text-cell{
	width: 50px;
	float: left;
	font-weight: bold;
}

.input-cell{
	margin-left: 10px;
	width:220px;
	float: left;
}

.input-cell input,
.input-cell textarea{
	width: 100%;
}

#input_submit{
	background:url(../images/signup_btn.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	border:none;
	width:156px;
	text-align:center;
	height:38px;
	padding-bottom:16px;
	margin-left:155px;
	margin-top:12px;
	margin-bottom:10px;
}