.product_intro{
	width: 445px !important;
}
.product_intro span{
	width: 200px !important;
}
div.bookdetail_btn{
	background:url(../images/btn1_left.jpg) no-repeat left;
	height:25px;
	float:left;
	padding-left:3px;
	margin:10px 8px 8px 0px;
	cursor: pointer;
}

div.bookdetail_btn span{
	background:url(../images/btn1_right.jpg) no-repeat right;
	height:25ps;
	line-height:25px;
	float:left;
	color:#4d4d4d;
	font-weight:bold;
	padding:0px 15px 0px 12px;
}

#detail_tab{
	border: 1px solid #D4D2D3;
	padding: 0px 10px 10px 10px;
	margin-top: 10px;
}
#close_detail .bookdetail_btn{
	float: right;
}
div#condition span{
	width: auto;
	margin-right: 0px;
	float: none;
}

.listing_table table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none #FFFFFF;
    color: #4A4A4A;
}

.listing_table table tr td.table_span1{
    margin-left: 14px;
    width: 50px;
}
.listing_table table tr td {
    line-height: 20px;
    padding: 4px 0 5px;
}
.listing_table table tr {
    background: none repeat scroll 0 0 #F2F7F9;
}
.sell_textbook form label.error{
	width: 100% !important;
	margin-left: 80px !important;
}
#searchkeyword{
	margin: 10px 10px 0px; 10px;
	font-weight: 14px;
	font-weight: bold;
}
.instant-search-form{
	margin: 10px;
}

.instant-search-form form{
	margin-bottom: 5px;
}
.instant-search-form input{
	width: 200px;
	height: 20px;
	float:left;
}

.instant-search-form label{
	float:left;
	width: 75px;
	line-height: 20px;
	font-weight: bold;
}

.instant-search-form a.button{
	background:#f26c0f;
	line-height: 20px;
	height: 20px;
	border:none;
	color:#fff;
	font-weight:bold;
	width:75px;
	text-align:center;
	float:left;
	display: block;
	margin-left: 10px;
}
.closeinstant{
	float:left;
	color:red;
	cursor:pointer;
	font-weight:bold;
	line-height:20px;
	margin-left:-15px;
}