#tabaccount .usercp_listing_menu1,
#tabprofile .usercp_listing_menu1,
#tabmylisting .usercp_listing_menu1{
	height:23px;
	margin:9px 0px 9px 13px;
	font-size:12px;
	border-bottom:1px solid #adadad;
	width:778px;
	padding-bottom:12px;
}
.usercp_listing_menu1 li{
	float:left;
	display:inline;
	width:86px;
	height:23px;
	text-align:center;
	line-height:23px;
	margin-right:11px;
}

.usercp_listing_menu1 li a{
	color:#6f6f6f;
	font-weight:bold;
}

.usercp_listing_menu1 li:hover a,
.usercp_listing_menu1 li.active a{
	color:#fff;
}
.usercp_listing_menu1 li:hover,
.usercp_listing_menu1 li.ui-tabs-selected, 
.usercp_listing_menu1 li.ui-state-active{
	background:url(../images/usercp_listing_menu1.jpg) no-repeat;
}

#tabaccount .ui-tabs-selected a,
#tabprofile .ui-tabs-selected a,
#tabmylisting .ui-tabs-selected a{
    background: none;
    color: #FFF;
}
/*begin pandog */

#acc-tab{
	width: 500px;
	font-size: 12px;
	padding: 10px 0 0 50px;
}

#acc-tab label,
#acc-tab input,
#acc-tab a{
	float: left;
	height: 23px;
	margin-bottom: 15px;
}
#acc-tab input{
	width: 250px;
}
#acc-tab label{
	width: 70px;
	margin-bottom: 10px;
	padding-top: 5px;
}
#acc-tab a{
	margin: 0px;
	margin-left: 10px;
}
a.ainput{
	background: url("../images/btn1_left.jpg") no-repeat scroll left center transparent;
    float: left;
    height: 25px;
    padding-left: 2px;
	margin-right: 5px;
}
a.ainput span{
  	background: url("../images/btn1_right.jpg") no-repeat scroll right center transparent;
    color: #4D4D4D;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px 0 10px;
}
#changelt select,
#aboutme-tab select{
	width: 100%;
	height: 25px;
	padding:3px 0px;
}

#lt_a_container,
#changealiascontainer,
#changeemailcontainer,
#changenamecontainer,
#changepasswordcontainer,
#changelocation{
	padding: 20px;
	cursor: progress;
}

#lt_a_container label.error,
#changename label.error,
#changealiascontainer label.error,
#changelocation label.error,
#changeemail label.error{
	color: red;
	width: 100%;
}

#changealiascontainer label.error{
	display:block;
	margin-top:5px;
	position: relative;
}
#changename input,
#changeemail input,
#changepassword input{
	margin-left: 10px;
	margin-bottom: 5px;
	float:left;
}


#changename label,
#changeemail label,
#changelocation label,
#changepassword label{
	width: 90px;
	display: block;
	float:left;
	margin-bottom: 10px;
}
#changename label{
	width: 70px;
	display: block;
	float:left;
	margin-bottom: 10px;
}
#changeemail label{
	 width: 30px;
}
#changepassword input{
	width: 125px;
}
#changepassword label.error{
	width: auto;
	color: #E65;
	margin-left: 5px;
}



/*mylisting*/
#aboutme-tab{
	font-size: 12px;
	width: 390px;
	margin: 20px 10px 10px 30px;
}

#aboutme-tab label,
#aboutme-tab input{
	float: left;
	height: 25px;
	margin-bottom: 5px;
}
#aboutme-tab input{
	width: 250px;
}
#aboutme-tab label{
	width: 75px;
}
#aboutme-tab a{
	margin: 0px;
	margin-left: 10px;
}
#aboutme-tab textarea{
	width: 300px;
	height: 100px;
	margin-bottom: 10px;
}
#aboutme-tab .selectdiv{
	width:300px;
	float:left;
}
#aboutme-tab .date select{
	width: 60px;
}
#aboutme-tab a{
	margin: 0px;
	margin-left: 10px;
}

#aboutme-tab textarea{
	width: 300px;
	height: 100px;
	margin-bottom: 10px;
}

#languagediv input.lang{
	width: 300px;
}

#languagediv .langdiv{
	width: 290px;
	background: none repeat scroll 0 0 #E2E8F6;
	border: 1px solid #BDC7D8;
	padding: 0px 5px;
	margin: 2px 0px;
	line-height: 25px;
}

#languagediv span{
	cursor: pointer;
	float: right;
	font-weight: bold;
}


#picture-tab{
	width: 600px;
	margin: 15px 0 0 15px;
}
#picture-tab #img_container{
	float:left;
	display: block;
	overflow: hidden;
	width: 180px;
	height: 180px;
	padding: 8px;
	border: 1px solid #becace;
}
#picture-tab #main-image-form{
	width: 375px;
	float:left;
	margin: 0px 5px 0px 20px;
}
.profile{
	float:right;
	width:310px;
}
#picture-tab a.profile_btn,
#aboutme-tab a.profile_btn{
	background:url(../images/campus_usercp_btn.jpg) no-repeat;
	width:104px;
	text-align:center;
	height:29px;
	line-height:29px;
	color:#fff;
	text-indent:0px;
	margin-left:0px;
	margin-right:12px;
	float: left;
	font-weight: bold;
}
#picture-tab #cpi_form p{
	float: left;
    width: 321px;
    height: 20px;
}
#picture-tab #cpi_form input#userImage{
	margin-bottom: 20px;
}